/* -------------------Structure du theme - Desktop -----------------------------
--------------------------------------------------------------------- */
@media screen and (min-width: 960px) {
    body {margin:0;}
    .mobile { display:none;}
        
    #top, #contenant, #bottom {width:100%; display:block; overflow:hidden;}  
    #top {background:#075056; top:0; position:fixed;  z-index:10}
    #header { padding-left:10px;}
    
    #wrapper_contenant { clear:both;}
    #contenant { position:relative;}

    #center_content  { width:100%; float:left;clear:both;}
        .full #center_content { width:100%;}
        .colldroite #center_content { width:100%; margin-bottom:130px;}
        .collgauche #center_content {width:75%; margin-bottom:130px;}
        .colldeux #center_content { width:50%; margin-bottom:130px;}
    .region_centrer { padding:0 10px;}
    #sidebar_first { float:left; width:25%; background:#FFFFFF;}
    #sidebar_second  { float:right; width:25%; background:#FFFFFF;}

    #bottom { height:120px;background:#075056;}    
    
   
    .wrap { max-width:1020px; margin : 0 auto; overflow:hidden; }
    .ban_second { height:250px;}
    
    #contenant > .wrap{ background:url(../images/filigram_vert.png) no-repeat bottom right;}
    #center_content { margin:30px 0 150px 0;}
    .front #contenant > .wrap {padding-bottom:30px;}

     a.home { background:url(../images/mutualite.png); display:block; width:198px; height:58px;float:left; margin:5px 0;} 
    
    /* --------------------BANNIERES */
    .ban {display:block; width:100%; background-repeat:no-repeat;background-position:center center; background-attachment: fixed;-webkit-background-size: 100%;     -moz-background-size: 100%;     -o-background-size: 100%;     background-size: 100%;     -webkit-background-size: cover;     -moz-background-size: cover;     -o-background-size: cover;     background-size: cover; }

    .ban  {height:500px;}
    .ban .wrap {position:relative; }
    .ban .wrap p {padding: 170px 0 0 10px; }
    .ban .wrap p span { font-size:47px;  line-height:50px;}
    .ban img { position:absolute; bottom:0; left:10px;}

    #highlighted .contact {float:left; width:33%;}	
    #highlighted .slogan {float:left; width:67%; min-width:480px;}
    #highlighted .contact h2 {font-size:16px;}
    #highlighted .slogan h1 span { font-size:55px;}
    #block-block-1 p { float:left; width:30%; }
    #block-block-1 p:nth-child(n+1) { margin-left:0;}
    #block-block-1 p:nth-child(n+2), #block-block-1 p:nth-child(n+3) {margin-left:5%;}

       /* --------------------Menu navigation  */
    .nav-collapse ul  {float:right; margin: 28px 10px 0 0;font-size:13px;}
    .js .nav-collapse {  position: relative;  } 
    .nav-collapse li { display:inline; float:none;  padding:0 0 0 70px;} 
    .nav-collapse li.first { padding : 0 0 0 0;}
    .js .nav-collapse.closed {max-height: none;  }  
    .nav-toggle { display: none; }


    /* --------------------ZONE SERVICE   */
   
    /*#block-views-services-block h3 { font-size:14px; font-weight:300; color:#FFFFFF; }*/
    #block-views-services-block .view-content .views-row {float:left; position:relative; display:block; height:220px;}
    #block-views-services-block .view-content .layer-img {width:100%; height:100%; text-align:center}
    #block-views-services-block .view-content .layer-txt p { padding:5px 25px 0 25px; font-size:13px; line-height:18px; color:#FFF;}
    #block-views-services-block .view-content .layer-txt h3 { padding:15px 25px 0 25px; margin:0; font-weight:300; font-size:14px; color:#FFFFFF;}
    #block-views-services-block .view-content .layer-txt a.lien-plus { position:absolute; bottom:10px; right:20px; background:url(../images/suite.png) no-repeat right bottom; height:90%; width:90%;}

    
    #block-views-services-block .view-content .layer-img img { padding-top:15px;}
    #block-views-services-block .view-content .layer-txt {width:100%; height:100%; text-align:left;position:absolute;top:0; left:0; display:none;}
    #block-views-services-block .view-content .views-row {width:32%;  margin-bottom:2%;} 
    #block-views-services-block .view-content .views-row-1,
    #block-views-services-block .view-content .views-row-4, 
    #block-views-services-block .view-content .views-row-7 { margin-left:0; clear:both;}
    #block-views-services-block .view-content .views-row-2, 
    #block-views-services-block .view-content .views-row-3, 
    #block-views-services-block .view-content .views-row-5, 
    #block-views-services-block .view-content .views-row-6, 
    #block-views-services-block .view-content .views-row-8, 
    #block-views-services-block .view-content .views-row-9  { margin-left:2%;}
    .front .node-type-services .field-name-field-resume { display:none;}
    .view-display-id-block  { background:url(../images/filigram_gris.png) no-repeat; background-position: 80% 92%;}

    /* --------------------Equipe */
    #block-views-equipe-block-1 .row { float:left; width:33.33%;}
    #block-views-equipe-block-1 .row-1 { margin-top:-30px;}
    #block-views-equipe-block-1 .row-2 { margin-top:20px;}
    a.lien-contenu { display:none;}
    #block-views-equipe-block-1 .view-content p { padding: 0 30px 10px 30px;margin:0; font-size:12px; line-height:18px;}
    a.lien-suite { float:right; margin: -30px 30px 0 30px; width:50px; height:50px;}
    #block-views-equipe-block-1 .zone  { width:100%;}
    #block-views-equipe-block-1 .zone , #block-views-equipe-block-1 .zone .layer-txt, #block-views-equipe-block-1 .zone .layer-img  {height:450px;}
    #block-views-equipe-block-1 .view-content .zone.id-19, 
    #block-views-equipe-block-1 .view-content .zone.id-19 .layer-txt { height:200px; width:100%;}
    #block-views-equipe-block-1 .view-content .zone.id-19 .lien-contenu { display:block;background: url(../images/suite.png) no-repeat bottom right; float:right; margin: -80px 5% 0 0; width:95%; cursor:pointer; height:120px; position:relative; z-index:3}
    /* --------------------ZONE  CLIENT */
    #block-views-clients-block .view-display-id-block { background:none;}
    #block-views-clients-block .view-content { margin-left:10px;}
    #block-views-clients-block { clear:both; float:left; width:80%; margin-bottom:20px;}
    #block-views-clients-block .view-content  div { display:inline-block; width:200px; padding-bottom:20px;}
    #block-views-clients-block .view-content  div img { width:120px; height:auto;}
    #block-views-clients-block .view-content  div.views-row-last {padding:0;}
    #block-views-clients-block .view-header { background:url(../images/barre-titre.png) no-repeat center left;  background-size:100% 1px; margin-left:10px;}
    #block-views-clients-block .view-header h2 {margin-left:30%; background:#FFFFFF; font-size:16px; display:block; width:35%; text-align:center; font-weight:600;color:#547b80; text-transform:uppercase;}

        /* --------------------FOOTER */
    #bottom .bot-gauche { float:left; width:500px; padding-top:25px;}
    #bottom .bot-gauche img { float:left; padding:0 20px 0 0; border-right: 1px solid #a4bec0; margin:0 20px 0 10px;}
    #bottom a { color:#FFF;}
    #bottom p { margin:0; padding:0; color:#FFF; width:auto;font-family:'Open Sans', sans-serif;}
    #bottom p.tel { font-weight:700; font-size:14px;letter-spacing:2px;}
    #bottom p.email { font-size:14px; font-family:'Open Sans', sans-serif; letter-spacing:1px; font-weight:300;} 
    #bottom .bot-droit{ float:right; width:158px; margin-top:20px;} 
    #bottom .bot-droit img { float:left;}
    #bottom .bot-droit p { font-size:11px; margin:0; padding:0}

    .group-gauche { float:left; width:66%;}
    .group-droite { float:right; width:34%;}
}


