/*MOBILE /*/
@media screen and (max-width: 959px){
    body {margin:0;}
    .desktop { display:none;}
    
    #top, #bottom,  #contenant  {width:100%; display:block; overflow:hidden;}  
    #top {background:#075056; top:0; position:fixed;  z-index:10}
    
    #header { padding-left:10px;}
    a.home { background:url(../images/mutualite.png); display:block; width:198px; height:58px; float:left; margin:5px 0;} 
    
    #wrapper_contenant { clear:both;}
    #contenant { position:relative;}

    #center_content  { width:100%; float:left;clear:both;}
        .full #center_content { width:100%;}
        .colldroite #center_content { width:100%; margin-bottom:130px;}
        .collgauche #center_content {width:75%; margin-bottom:130px;}
        .colldeux #center_content { width:50%; margin-bottom:130px;}
    .region_centrer { padding:0 10px;}
    #sidebar_first { float:left; width:25%; background:#FFFFFF;}
    #sidebar_second  { float:right; width:25%; background:#FFFFFF;}
    
    #bottom { height:80px;background:#075056; position:fixed; bottom:0; z-index:10}  
   
    #contenant { margin-bottom:80px;}
    .ban_second { display:none; height:0;}
    #center_content { margin:100px 0 30px 0;}
    #header {text-align:center;}
   
    /* --------------------BANNIERES */    
    .ban {display:block; width:100%; background-repeat:no-repeat;background-position:center center;-webkit-background-size: 100%;     -moz-background-size: 100%;     -o-background-size: 100%;     background-size: 100%;    }

    .ban {position:relative; height:300px;}
    .ban  img { display:none;}
    .ban .wrap p { padding:130px 0 0 10px;;}
    .ban .wrap p span { font-size:20px; line-height:20px;}
    
    #highlighted .contact { display:none;}
    #highlighted .slogan { width:100%}
    #highlighted .slogan h1 { font-size:30px; line-height:40px;}
    #highlighted .slogan h1 span { font-size:40px; line-height:40px;}
    #block-block-1 {padding:20px 0;}
    
    #highlighted .contact { display:none;}
    #highlighted .slogan { width:100%}
    #highlighted .slogan h1 { font-size:30px; line-height:40px;}
    #highlighted .slogan h1 span { font-size:40px; line-height:40px;}
    #block-block-1 {padding:20px 0;}
    
      /* --------------------ZONE SERVICE   */  
  
    #block-views-services-block .view-content .views-row {width:50%;  float: left; text-align: center; margin-bottom:55px;} 
    #block-views-services-block .view-content .layer-txt { display: none!important;}
     #block-views-services-block .view-content .layer-txt {display:none;} 
    #block-views-services-block .view-content .layer-img a:active img,  #block-views-services-block .view-content .layer-img a:hover img  { filter: alpha(opacity=50);	opacity: 0.5;}
 
#block-views-equipe-block-1 .view-content p { padding: 0 30px 10px 30px;margin:0; font-size:14px; line-height:18px;}

#block-views-equipe-block-1 .row { float:left; width:100%;}
#block-views-equipe-block-1 .zone  { width:50%;}
#block-views-equipe-block-1 .zone , #block-views-equipe-block-1 .zone .layer-txt, 
#block-views-equipe-block-1 .zone .layer-img  {height:480px; }
 #block-views-equipe-block-1 .zone .layer-txt { width:100%;}
 #block-views-equipe-block-1 .view-content .zone.id-19 .layer-txt { height:200px;}
 #block-views-equipe-block-1 .zone .layer-img  { width:50%;}

a.lien-suite { display:none!important;}
    A.lien-contenu { display: block; position: absolute; top:0;left: 0; width:100%; height: 100%;}
    
    #block-views-clients-block { display:none;}
    
    .group-droite { display:none;}
.group-gauche { width:100%;}
    
    .nav-collapse, .nav-collapse ul {float:left;  width:100%; margin: 0 0 0 0;  padding: 0; }
.nav-collapse li {width: 100%; display:block; float:left; width:100%; border-top:1px solid #fff; padding: 20px 0 20px 80px;font-size:22px;}
.js .nav-collapse {  clip: rect(0 0 0 0);  max-height: 0;  position: absolute;  display: block;  overflow: hidden;  zoom: 1;}
.nav-collapse.opened {  max-height: 9999px;}
.nav-toggle {  -webkit-tap-highlight-color: rgba(0,0,0,0);  -webkit-touch-callout: none;  -webkit-user-select: none;  -moz-user-select: none;  -ms-user-select: none;  -o-user-select: none;  user-select: none;  text-indent: -9999px;  display:block; height:50px; width:50px;background:url(../images/mobile/menu.png) no-repeat 50% 33%; float:right; margin:10px 10px 0 10px;;}
    
    #bottom .wrap, #footer, #bottom .mobile { width:100%; height:100%; display:block; }
#bottom a.tel {float:left; width:29%; height:100%; text-indent:-99999px; background:#b8bf0d url(../images/mobile/phone.png) no-repeat center center; border-right:2px solid #FFF; background-size:20%}
#bottom a.email { float:left;width:19%; height:100%;text-indent:-99999px; background:#fbad18 url(../images/mobile/email.png) no-repeat center center;border-right:2px solid #FFF;background-size:30%} 
#bottom  .imgage{ float:left; width:50%; text-align:center;padding-top: 25px;}
}


/*MOBILE - de 400px de long/*/
@media screen and (min-width: 0) and (max-width: 490px) {
    #block-views-services-block .view-content .views-row {width:100%;}
    #block-views-equipe-block-1 .zone {width: 100%;}
    #block-views-equipe-block-1 .zone.id-19 { height: 280px;}
#bottom a.tel {float:left; width:29%; height:100%; text-indent:-99999px; background:#b8bf0d url(../images/mobile/phone.png) no-repeat center center; border-right:2px solid #FFF; background-size:30%}
#bottom a.email { float:left;width:19%; height:100%;text-indent:-99999px; background:#fbad18 url(../images/mobile/email.png) no-repeat center center;border-right:2px solid #FFF;background-size:45%} 
}